My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"Kings Restaurant\".  \n\nRules:  \n\n1. When a user sends their first message (like hi, hello), reply with:  \n\"Welcome to Kings Restaurant 🍽️  \nHow can I help you today?  \n- 🛒 Place an order  \n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\"  \n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)  \n\n2. If user wants *order*:  \n- Ask step by step: name, food item, quantity  \n- Check Inventory sheet before confirming  \n   - If available → \"Your order for *[item]* (x quantity) is confirmed ✅\"  \n   - If not available → \"Sorry, *[item]* is out of stock ❌. Available options: [list items]\"  \n- Only confirmed orders go into the Orders sheet  \n- In Orders sheet always include:  \n   Status = Confirmed / Rejected  \n   Description = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"  \n\n3. If user wants *FAQ*:  \n- Answer short and clear (delivery time, payment method, restaurant hours)  \n\n4. If user wants *check order* or *check stock*:  \n- Ask for food name or order id  \n- Look up in Google Sheets (Orders / Inventory)  \n   - If checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)  \n   - If checking stock → reply with available quantity of that food  \n   - Also list all *available* food items with quantity if requested  \n\n5. If user wants *cancel order*:  \n- Reply politely:  \n  \"Sorry 🙏 I cannot cancel orders directly.  \n   Please call the restaurant owner first and inform them.  \n   Owner Contact: +91 9100885531\"  \n\n6. Always reply in short text like a normal WhatsApp chat  \n- Do not use **bold** or long paragraphs  \n- Use *stars* only for highlighting words  \n- Keep tone friendly, polite, and food-delivery app style  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        -112
      ],
      "id": "5839dbe9-3ba5-4409-b6ea-933e5cff2783",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'my_test_session' }}",
        "contextWindowLength": 9
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        112
      ],
      "id": "2360b0c0-0bd8-4f9f-8dad-dfdc52d87165",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19sdCHPuDuxnyGNCHg5oj3BBwHZu87uWrEDJdWe8v3BA",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19sdCHPuDuxnyGNCHg5oj3BBwHZu87uWrEDJdWe8v3BA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 127109707,
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19sdCHPuDuxnyGNCHg5oj3BBwHZu87uWrEDJdWe8v3BA/edit#gid=127109707"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        112,
        96
      ],
      "id": "e2cebddb-591a-47e8-bc65-6f1c46aff60e",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wV6wjTGmQxwzvAqz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19sdCHPuDuxnyGNCHg5oj3BBwHZu87uWrEDJdWe8v3BA",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19sdCHPuDuxnyGNCHg5oj3BBwHZu87uWrEDJdWe8v3BA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 58117229,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19sdCHPuDuxnyGNCHg5oj3BBwHZu87uWrEDJdWe8v3BA/edit#gid=58117229"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        128
      ],
      "id": "b16633aa-5955-4302-ba8f-0c0391a2e7b5",
      "name": "Get FAQ's",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wV6wjTGmQxwzvAqz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19sdCHPuDuxnyGNCHg5oj3BBwHZu87uWrEDJdWe8v3BA",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19sdCHPuDuxnyGNCHg5oj3BBwHZu87uWrEDJdWe8v3BA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2000226042,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19sdCHPuDuxnyGNCHg5oj3BBwHZu87uWrEDJdWe8v3BA/edit#gid=2000226042"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Order Date": "={{ $now.format('yyyy-MM-dd hh-m m-ss a') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        224,
        112
      ],
      "id": "c7de20bb-2403-4b36-be3a-3de266c95777",
      "name": "Post Orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wV6wjTGmQxwzvAqz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -192,
        96
      ],
      "id": "e095388b-4211-4b72-8c1b-4780ef20d7d2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PEzQciVsGUMxEiTY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        320,
        -48
      ],
      "id": "e36c60d9-1863-4f7d-8c5a-eb5cd85695b1",
      "name": "WhatsApp Trigger",
      "webhookId": "82ae5a82-6848-4196-a92c-9868ec55fa6f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "VFudi0b5KgdC5DNI",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "854214001118374",
        "recipientPhoneNumber": "+91 9100885531",
        "textBody": "working",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        576,
        -96
      ],
      "id": "b257496d-406a-408d-b210-7d5aaf16cc9d",
      "name": "Send message",
      "webhookId": "a9ec9b54-ebf9-466e-86e2-48ea21307261",
      "credentials": {
        "whatsAppApi": {
          "id": "LcRiCcQuegbhEmqu",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ's": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post Orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bebb304f-0d76-4aa6-831f-7be85267e3fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00149fa1dcd30c1cb5854a57e5e4dfe713e997be9e3c1d548aede6fead0c78e4"
  },
  "id": "Hj3H0HcpOPfzYIBY",
  "tags": []
}